@using PagedList;
@using PagedList.Mvc;
@model IPagedList<BookStoreShoppingCart.Models.Product>
@{
    ViewBag.Title = "Browse";
}

<style>    
    #paging {
        margin-top: 80px;
    }
</style>



<div class="row">
    <div class="col-xs-12"><h2 class="text-center">@Model.First().Genre.Name</h2> </div>
    <br />



</div>

<div class="row mainpage">

    @foreach (var product in Model)
    {
        <div class="col-sm-6 col-md-3">
            <div class="singleBook">
                <img class="ProductImg" src="@product.ImageUrl" alt="商品圖片">

                <p class="pricing">售價 :$ @product.Price</p>
                <p>
                    <a onclick="AddToCart('@product.Id')" href="javascript:void(0);"
                       class="btn btn-primary" role="button">
                        加入購物車
                    </a>

                </p>
                <p class="productTitle">@Html.ActionLink(product.Name, "Details", "Products", new { id = product.Id }, null)</p>
            </div>
        </div>

        
    }



    <div class="col-xs-12" id="paging">
        
        @Html.PagedListPager(Model, page => Url.Action("Browse", new { page }),
     PagedListRenderOptions.Classic)

    </div>

</div>

