@model BookStoreShoppingCart.Models.Ship

@{
    ViewBag.Title = "結帳";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //取得目前購物車
    var cart = BookStoreShoppingCart.Models.Operation.GetCurrentCart();
}

<style>
    .iconlink {
        cursor: pointer;
    }
    table{
        font-size:16px;
    }
</style>


<h2>購物明細</h2>
<br/>
@if (cart.Count() == 0)
{
    <hr/>
    <h4>尚未選購商品!</h4>
}
else
{    
    <table id="products" class="table">
        <thead>
            <tr>
                <th class="col-xs-8">商品</th>
                <th class="col-xs-1">單價</th>
                <th class="col-xs-1">數量</th>
                <th class="col-xs-1">小計</th>
                <th class="col-xs-1">移除商品</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in cart)
            {
                <tr>
                    <td><img src="@cartItem.ImageURL" width="50" height="50" />@cartItem.ProductName</td>

                    <td>$@cartItem.Price.ToString("G29")</td>
                    <td>@cartItem.Quantity</td>
                    <td class="amount">$@cartItem.Amount.ToString("G29")</td>
                    <td><span onclick="RemoveFromCart('@cartItem.Id')"><i class="fas fa-trash-alt iconlink"></i></span></td>
                </tr>
            }
            <tr><td colspan="3"></td><td class="totalAmount">總金額</td><td id="totalAmount">$@cart.TotalAmount.ToString("G29")</td></tr>
        </tbody>
    </table>

    if (!Request.IsAuthenticated)
    {
        using (Html.BeginForm("Index", "Order", FormMethod.Post))
        {
            <input type="submit" value="結帳" class="btn btn-default" />

        }
    }

    if (Request.IsAuthenticated)
    {
        @* collet ship information *@
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h3>收貨人資訊</h3>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.RecieverName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RecieverName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RecieverName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RecieverPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RecieverPhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RecieverPhone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RecieverAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RecieverAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RecieverAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="確定購買" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    }
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#products').on('click', 'span', function () {
                // remove the clicked product
                $(this).parent().parent().remove();
                // calculate total amount
                var amountList = $('.amount').text().split('$');
                var totalAmt = 0;
                for (var i = 1; i < amountList.length; i++) {
                    totalAmt += Number(amountList[i]);
                }
                // update total amount after removing a product
                $('#totalAmount').text(`$${totalAmt}`);

            });
        });
    </script>
}

