@model BookStoreShoppingCart.Models.Product
@{
    ViewBag.Title = "Details";
}

<style>
    .table > tbody > tr > td,
    .table > tbody > tr > th {
        border-top: none;
        font-size: 16px;
    }

    .row {
        width: 90%;
        margin: 30px auto;
    }

    .ProductImg {
        display: block;
        max-width: 100%;
        max-height: 250px;
        margin: 0 auto;
    }
</style>

<div class="row">
    <h3 class="col-xs-12">@Model.Name</h3>
</div>
<hr width="90%" />

<div class="row">
    <div class="col-xs-12 col-md-3">
        <img src="@Model.ImageUrl" class="ProductImg" alt="" />
    </div>

    <div class="col-xs-12 col-xs-offset-3 col-md-9 col-md-offset-0">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Genre.Name)</th>
                <td>@Html.DisplayFor(model => model.Genre.Name)</td>
            </tr>

            <tr>
                <th class="col-xs-2">@Html.DisplayNameFor(model => model.PublishDate)</th>
                <td class="col-xs-10">@Model.PublishDate.ToShortDateString()</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(model => model.Publisher.Name)</th>
                <td>@Html.DisplayFor(model => model.Publisher.Name)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <td>$@Html.DisplayFor(model => model.Price)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
                <td>@Html.DisplayFor(model => model.ImageUrl)</td>
            </tr>
        </table>

    </div>
</div>

<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("回商品管理", "Index") |
    @Html.ActionLink("回首頁","Index","Home")
</p>


