@model BookStoreShoppingCart.ViewModels.ProductFormViewModel
@{
    ViewBag.Title = "ProductForm";
}

<style>
    .Img {
        width: 50px;       
    }
</style>

<h2>@Model.Title</h2>
@Html.ValidationSummary()

@using (@Html.BeginForm("Save", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.GenreId)
        @Html.DropDownListFor(c => c.GenreId, new SelectList(Model.Genres, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.PublisherId)
        @Html.DropDownListFor(c => c.PublisherId, new SelectList(Model.Publishers, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.PublisherId)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.PublishDate)
        @Html.TextBoxFor(c => c.PublishDate, new { @class = "form-control",type="date" })
        @Html.ValidationMessageFor(c => c.PublishDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Price)
        @Html.TextBoxFor(c => c.Price, new { @class = "form-control",type="number" })
        @Html.ValidationMessageFor(c => c.Price)
    </div>
    <div class="form-group">
        <div>
            @if (Model.Title == "編輯商品")
            {
                <p>
                    <img class="Img" src="@Model.ImageUrl" alt="商品圖片">
                </p>
            }

        </div>
        @Html.LabelFor(c => c.ImageUrl)
        @Html.TextBox("file", "", new { type = "file", id = "file" })


    </div>   
    
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-primary">儲存</button>
    @Html.ActionLink("回商品管理", "Index",null,new { @class="btn btn-primary"});
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

